  
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Drinks</title>
</head>
<body>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
        h2::first-letter{ text-transform:capitalize;
        }
        img{
            height: 30vh;
            padding-bottom: 20px;
        }
        
      </style>

    <h1>At Foo Bar</h1>
    <h2><%= drink.name %>  </h2>
    <h3>$<%= drink.price %> </h3>
    <img src="<%= drink.image %>.png"> <br>
    <a href="/drinks">Back</a>
</body>
</html>