<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to GitPub</title>
</head>
<body>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
        li::first-letter{ text-transform:capitalize;}
    
      </style>

    <h1>Welcome to GitPub - Drinks Menu</h1>

    <ul>
        <% for (let drink in allDrinks){%>
        <li>
            <a href="/drinks/<%= drink %>"><%= allDrinks[drink].name%></a>
           <% } %> 
        </li>
    </ul>
 <a href="/"> Return Home </a>


</body>
</html>