<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
    </style>

<h1>Welcome to GitPub - Food Menu</h1>

<ul>
    <% for (let item in allFood){%>
    <li>
        <a href="/food/<%= item %>"><%= allFood[item].name%></a>
       <% } %> 
    </li>
</ul>
<a href="/"> Return Home </a>


</body>
</html>