<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
</head>
<body>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
        }
        img{
            height: 15vh;
            padding-bottom: 10px;
        }
      </style>

    <h1>At Foo Bar</h1>
    <h2><%= item.name %>  </h2>
    <h3>$<%= item.price %> </h3>
    <img src="<%= item.image %>.png"> <br>
    <a href="/food">Back</a>
</body>
</html>